# Ground Station File Generator
This notebook's purpose is to generate .lua files for ground-based stations, based on the example file from  https://docs.openspaceproject.com/en/latest/generated/asset-components/GlobeTranslation.html:

## Import station lat/lon data

In [21]:
import pandas as pd
stations = pd.read_csv("stations.csv")
stations

,IAGA,GEOLON,GEOLAT,AACGMLON,AACGMLAT,STATION-NAME,OPERATOR-NUM,OPERATOR,OP2,OP3
0,THL,290.77,77.47,29.24,84.72,Qaanag,2,DTUSpace,INTERMAGNET,NaN
1,SVS,294.90,76.02,32.87,83.00,Savissivik,1,DTUSpace,NaN,NaN
2,KUV,302.82,74.57,41.92,80.69,Kullorsuaq,1,DTUSpace,NaN,NaN
3,UPN,303.85,72.78,40.20,78.93,Upernavik,1,DTUSpace,NaN,NaN
4,UMQ,307.87,70.68,42.58,76.38,Uummannaq,1,DTUSpace,NaN,NaN
5,GDH,306.47,69.25,39.39,75.25,Godhavn,2,DTUSpace,INTERMAGNET,NaN
6,ATU,306.43,67.93,38.19,73.99,Attu,1,DTUSpace,NaN,NaN
7,STF,309.28,67.02,40.87,72.64,Kangerlussuaq,1,DTUSpace,NaN,NaN
8,SKT,307.10,65.42,37.22,71.43,Maniitsoq,1,DTUSpace,NaN,NaN
9,GHB,308.27,64.17,37.85,69.98,Nuuk,1,DTUSpace,NaN,NaN
10,FHB,310.32,62.00,39.05,67.41,Paamiut,1,DTUSpace,NaN,NaN
11,PG1,77.20,-85.50,33.68,-76.55,Antartica,2,THEMIS,MIST,NaN
12,PG2,57.96,-84.42,39.07,-75.24,Antartica,2,THEMIS,MIST,NaN
13,PG3,37.63,-84.81,36.76,-73.53,Antartica,2,THEMIS,MIST,NaN
14,PG4,12.25,-83.34,36.39,-70.83,Antartica,2,THEMIS,MIST,NaN
15,PG0,88.68,-83.67,38.23,-78.32,PG0,2,THEMIS,MIST,NaN
16,PG5,5.71,-81.96,37.17,-69.46,PG5,2,THEMIS,MIST,NaN

## Import template
In the future we might want to do something more clever to parse this Lua file, but for now I'm mainly just pulling in the file as text and swapping the relevant strings with a brute force approach in the next section below.

In [50]:
from luaparser import ast
# from luaparser import astnodes

with open('template.lua', 'r') as file:
    src = file.read()

tree = ast.parse(src)
# print(ast.to_pretty_str(tree))
foo = tree.body.to_json()

# class NumberVisitor(ast.ASTVisitor):
#     def visit_Number(self, node):
#         print('Number value = ' + str(node.n))

# tree = ast.parse(src)
# NumberVisitor().visit(tree)

## Generate and save .lua files for stations

In [31]:
for index, row in stations.iterrows():
    IAGA = row['IAGA']
    LAT = row['GEOLAT']
    LON = row['GEOLON']
    print(row['IAGA'], row['GEOLAT'], row['GEOLON'])
    foo = src.replace("Latitude = 20.0", "Latitude = " + str(LAT))
    bar = foo.replace("Longitude = -45.0", "Longitude = " + str(LON))
    print(bar,  file=open('Position/' + IAGA + '.lua', 'w'))

THL 77.47 290.77
SVS 76.02 294.9
KUV 74.57 302.82
UPN 72.78 303.85
UMQ 70.68 307.87
GDH 69.25 306.47
ATU 67.93 306.43
STF 67.02 309.28
SKT 65.42 307.1
GHB 64.17 308.27
FHB 62.0 310.32
PG1 -85.5 77.2
PG2 -84.42 57.96
PG3 -84.81 37.63
PG4 -83.34 12.25
PG0 -83.67 88.68
PG5 -81.96 5.71